@import url('https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans&display=swap');


body{
    background-image: url(https://media.meteojob.com/theme/2.3/images/bg-clouds.png), linear-gradient( #1c82c9,#52a4df,#8eccf5);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;

}
main{
    margin-top: 10vh;
    width: 110vh;
    height: 175vh;
}
form{
    background-color: #FFF;
    height: 700px;
    width: 560px;
    border-radius: 1vh;
    padding: 5vh; 
    font-family: "Open Sans" ;
    font-size: 0.9em;
    font-weight: bolder;
    color: rgb(71, 71, 71);
}
header{

    text-align: center;
    font-family: 'Poiret One', cursive;
    color: #FFF;
}
header>img{
    width: 35vh;
}
h1{
    font-size: x-large;
}
.un{
    display: flex;
    justify-content: space-between;

}
.un input{
    height: 5vh;
    width: 45vh;
}
.deux{
    display: flex;
    flex-direction: column;
}
.deux input{
    height:5vh ;
}
.deux label{
    margin-top: 2vh;
}
.trois input{
    display: none;
}
.trois{
    display: flex;
    flex-wrap: wrap;
}
.trois label{
    width: 110px;
    height: 35px;
    background-color: rgba(136, 165, 168, 0.219);
    display: inline-block;
    margin: 1%;
    word-wrap: break-word;
    padding: 1%;
}
a{
    text-decoration: none;
    color: black;

}
#fin{

    width: 110px;
    height: 35px;
    background-color: blueB;
    margin-bottom: 0;
    padding: 1%;

}
.condition a{
    color: rgb(71, 71, 71);
    text-decoration: underline;
}
.condition{
    margin-top: 3%;
}
.continuer{
    width: 110px;
    height: 35px;
    margin: 1%;
    padding: 1%;
    background-color:  rgb(68, 139, 231);
    text-align: center;
    display: inline-block;
    position: relative;
    top: 150px;
    left: -150px;
    color: white;
}