@import url('https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans&display=swap');


body{
    background-image: url(https://media.meteojob.com/theme/2.3/images/bg-clouds.png), linear-gradient( #1c82c9,#52a4df,#8eccf5);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding:0;
    margin: 0;
    display: flex;
    justify-content: center;

}
main{
    margin-top: 10vh;
    width: 110vh;
    height: 175vh;
}
form{
    background-color: #FFF;
    height: 700px;
    width: 560px;
    border-radius: 1vh;
    padding: 5vh; 
    font-family: "Open Sans" ;
    font-size: 0.9em;
    font-weight: bolder;
    color: rgb(71, 71, 71);
}
header{

    text-align: center;
    font-family: 'Poiret One', cursive;
    color: #FFF;
}
header>img{
    width: 35vh;
}
h1{
    font-size: x-large;
}
.un{
    display: flex;
    justify-content: space-between;

}
.un input{
    height: 5vh;
    width: 45vh;
}
#mot_de_passe{
    width: 100%;
    border: 1px solid rgba(146, 145, 145, 0.904);
    display: flex;
    justify-content: space-between;
}
#mot_de_passe img{
    width: 4%;
    opacity: 0.5;
    border: none;

}
#password{
    border: none;
    width: 80%;
}
input:focus{
     outline-color: rgb(30, 221, 247);

}
#mot_de_passe input:focus{
    outline-color: white;
}
.deux{
    display: flex;
    flex-direction: column;
}
.deux input{
    height:5vh ;
}
.deux label{
    margin-top: 2vh;
} 
.trois input{
    display: none;
} 
.trois{
    display: flex;
    flex-wrap: wrap;
}
.trois label{
    width: 110px;
    height: 35px;
    background-color: #f2f2f2;
    color: rgb(71, 71, 71);
    display: inline-block;
    text-align: center;
    margin: 1%;
    word-wrap: break-word;
    padding: 1%;
}
input[type=checkbox]:checked+label{
    background-color:  rgb(68, 139, 231);
    color: #FFF;

}
input:focus+label{
    background-color:  rgb(68, 139, 231);
}
a{
    text-decoration: none;
    color: black;
}
#fin{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: #b9c2ca;
    color: rgb(245, 245, 220);
    height: 5vh;
    width: 9vw;
    border-radius: 8px;
    font-size: 0.95em;
}
#fin input{
    display: none;
}
#fin label{
    display: inline-block;
}

input[type=radio]+label{
    width: 50%;
    height: 100%;
    background-color: #f0f4f7;

}
input[value=oui]:checked+label{
    background-color:  rgb(68, 139, 231);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: 0.5s;
}
input[value=oui]:not(:checked)+label{
    background-color: #f0f4f7;
    color: #f0f4f7;
    transition: 0.5s;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
input[value=non]:checked+label{
    background-color: #b9c2ca;
    transition: 0.5s;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
input[value=non]:not(:checked)+label{
    background-color: #b9c2ca;
    color: #f0f4f7;
    transition: 0.5s;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.condition a{
    color: rgb(71, 71, 71);
    text-decoration: underline;
}
.condition{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
button{
    background-color:  rgb(68, 139, 231);
    color: white;
    border: none;
    width: 110px;
    height: 35px;
    margin-bottom: 0;
    padding: 1%;
    position: relative;
    top: 25vh;
    left: 40vh;
}